.cc {
  &--version {
    float: right;
    color: #333;
    font-size: 11px;
    margin: 0 15px 10px 0;

    &.light {
      right: 0;
      bottom: 0;
      color: #ccc;
      position: absolute;
    }
  }
}
