.cc {
  &--logo a {
    font-size: 21px;
    font-weight: 700;
    margin-left: -8px;
    text-transform: uppercase;
    color: #f3f3f4 !important;
    font-family: 'Comfortaa', sans-serif;

    &:focus,
    &:active {
      text-decoration: none;
    }
  }

  &--menu-list {
    height: 100%;
    position: fixed;

    li.cc--bottom-item {
      bottom: 50px;
      position: fixed;
    }
  }

  &--sign-out a {
    color: #ea5e5e !important;
  }
}
