.cc {
  &--signin {
    &--header {
      margin: 20px 0;
      font-size: 60px;
      color: #085eb0;
      text-align: center;
      font-family: 'Comfortaa', sans-serif;
    }

    &--sub-header {
      text-align: center;
    }
  }

  &--forgot-password-link {
    text-align: right;
    margin-bottom: 20px;
  }
}
